(
    models: Some([
        WavefrontObj(
            tag: "tree",
            file: "resources/obj/Low_Poly_Forest_treeTall01.obj",
            scale: 0.004
        ),
        WavefrontObj(
            tag: "tree2",
            file: "resources/obj/Low_Poly_Forest_treeTall02.obj",
            scale: 0.004
        ),
        WavefrontObj(
            tag: "tree3",
            file: "resources/obj/Low_Poly_Forest_treeTall03.obj",
            scale: 0.004
        ),
        WavefrontObj(
            tag: "tree4",
            file: "resources/obj/Low_Poly_Forest_treeTall04.obj",
            scale: 0.004
        ),
        WavefrontObj(
            tag: "tree6",
            file: "resources/obj/Low_Poly_Forest_treeBlob01.obj",
            scale: 0.004
        ),
        WavefrontObj(
            tag: "tree7",
            file: "resources/obj/Low_Poly_Forest_treeBlob02.obj",
            scale: 0.004
        ),
        WavefrontObj(
            tag: "tree8",
            file: "resources/obj/Low_Poly_Forest_treeBlob03.obj",
            scale: 0.004
        ),
    ]),

    colors: Some([
        MappedColor(
            tag: "leaf", r:0.0, g: 1.0, b:0.0
        ),
        MappedColor(
            tag: "leaf_2", r:0.0, g:0.5, b:0.0
        ),
        MappedColor(
            tag: "leaf_3", r:0.0, g:0.75, b:0.0
        ),
        MappedColor(
            tag: "leaf_4", r:0.0, g:0.25, b:0.0
        ),
        MappedColor(
            tag: "leaf_5", r:0.0, g:0.15, b:0.0
        ),
        MappedColor(
            tag: "bark", r:0.325, g:0.19, b:0.09
        ),
        MappedColor(
            tag: "bark_1", r:0.325, g:0.19, b:0.09
        ),
    ])
)