(
    vox: Some([
        VoxelModel( tag:"cabinet", file:"cabinet" ),
        VoxelModel( tag:"block", file:"block" ),
        VoxelModel( tag:"woodwaste", file:"wastewood" ),
        VoxelModel( tag:"bonecarver", file:"bonecarver" ),
        VoxelModel( tag:"butcher", file:"butcher" ),
        VoxelModel( tag:"carpenter", file:"carpenter" ),
        VoxelModel( tag:"chemist", file:"chemist" ),
        VoxelModel( tag:"stairs_up", file:"stairs-up" ),
        VoxelModel( tag:"stairs_down", file:"stairs-down" ),
        VoxelModel( tag:"stairs_updown", file:"stairs-updown" ),
        VoxelModel( tag:"tailor", file:"tailor" ),
        VoxelModel( tag:"forge", file:"forge" ),
        VoxelModel( tag:"boulder", file:"boulder" ),
        VoxelModel( tag:"ore", file:"ore" ),
        VoxelModel( tag:"powder", file:"powder" ),
        VoxelModel( tag:"oil", file:"oil" ),
        VoxelModel( tag:"stonecutter", file:"stonecutter" ),
        VoxelModel( tag:"smelter", file:"smelter" ),
        VoxelModel( tag:"deer", file:"deer" ),
        VoxelModel( tag:"horse", file:"horse" ),
        VoxelModel( tag:"armadillo", file:"armadillo" ),
        VoxelModel( tag:"badger", file:"badger" ),
        VoxelModel( tag:"kiln", file:"kiln" ),
        VoxelModel( tag:"charcoal_hut", file:"charcoal_hut" ),
        VoxelModel( tag:"still", file:"still" ),
        VoxelModel( tag:"loom", file:"loom" ),
        VoxelModel( tag:"glass_furnace", file:"glass_furnace" ),
        VoxelModel( tag:"mason", file:"mason" ),
        VoxelModel( tag:"mechanic", file:"mechanic" ),
        VoxelModel( tag:"tanner", file:"tanner" ),
        VoxelModel( tag:"charcoal", file:"charcoal" ),
        VoxelModel( tag:"ant", file:"ant" ),

        VoxelModel( tag:"person_base", file:"person_base" ),
        VoxelModel( tag:"person_hair_short", file:"person_hair_short" ),
        VoxelModel( tag:"person_hair_long", file:"person_hair_long" ),
        VoxelModel( tag:"person_hair_pigtails", file:"person_hair_pigtails" ),
        VoxelModel( tag:"person_hair_mohawk", file:"person_hair_mohawk" ),
        VoxelModel( tag:"person_hair_balding", file:"person_hair_balding" ),
        VoxelModel( tag:"person_hair_triangle", file:"person_hair_triangle" ),

        VoxelModel( tag:"clothes_batman_hat", file:"clothes_batman_hat" ),
        VoxelModel( tag:"clothes_police_hat", file:"clothes_police_hat" ),
        VoxelModel( tag:"clothes_cat_ears", file:"clothes_cat_ears" ),
        VoxelModel( tag:"clothes_tiara", file:"clothes_tiara" ),
        VoxelModel( tag:"clothes_formal_shirt", file:"clothes_formal_shirt" ),
        VoxelModel( tag:"clothes_bathrobe", file:"clothes_bathrobe" ),
        VoxelModel( tag:"clothes_spandex_shirt", file:"clothes_spandex_shirt" ),
        VoxelModel( tag:"clothes_sports_shirt", file:"clothes_sports_shirt" ),
        VoxelModel( tag:"clothes_tshirt", file:"clothes_tshirt" ),
        VoxelModel( tag:"clothes_cargopants", file:"clothes_cargopants" ),
        VoxelModel( tag:"clothes_longskirt", file:"clothes_longskirt" ),
        VoxelModel( tag:"clothes_hawaiian_shorts", file:"clothes_hawaiian_shorts" ),
        VoxelModel( tag:"clothes_spandex_pants", file:"clothes_spandex_pants" ),
        VoxelModel( tag:"clothes_miniskirt", file:"clothes_miniskirt" ),
        VoxelModel( tag:"clothes_shoes", file:"clothes_shoes" ),
        VoxelModel( tag:"clothes_boots", file:"clothes_boots" ),
        VoxelModel( tag:"clothes_simple_tunic", file:"clothes_simple_tunic" ),
        VoxelModel( tag:"clothes_britches_simple", file:"clothes_britches_simple" ),
        VoxelModel( tag:"clothes_cap_simple", file:"clothes_cap_simple" ),

        VoxelModel( tag:"ground_helmet", file:"ground_helmet" ),
        VoxelModel( tag:"ground_shirt", file:"ground_shirt" ),
        VoxelModel( tag:"ground_pants", file:"ground_pants" ),
        VoxelModel( tag:"ground_shoes", file:"ground_shoes" ),

        VoxelModel( tag:"meat", file:"meat" ),
        VoxelModel( tag:"foodplate", file:"foodplate" ),
        VoxelModel( tag:"liquid", file:"liquid" ),
        VoxelModel( tag:"veggie", file:"veggie" ),

        VoxelModel( tag:"table", file:"table" ),
        VoxelModel( tag:"chair", file:"chair" ),
        VoxelModel( tag:"door_ground", file:"door_ground" ),
        VoxelModel( tag:"bed", file:"bed" ),
        VoxelModel( tag:"axeblade", file:"axeblade" ),
        VoxelModel( tag:"lathe", file:"lathe" ),
        VoxelModel( tag:"hay", file:"hay" ),
        VoxelModel( tag:"thread", file:"thread" ),
        VoxelModel( tag:"cloth", file:"cloth" ),
        VoxelModel( tag:"paper", file:"paper" ),
        VoxelModel( tag:"dung", file:"dung" ),
        VoxelModel( tag:"mechanism", file:"mechanism" ),
        VoxelModel( tag:"circuit", file:"circuit" ),
        VoxelModel( tag:"bone", file:"bone" ),
        VoxelModel( tag:"hide", file:"hide" ),
        VoxelModel( tag:"skull", file:"skull" ),
        VoxelModel( tag:"cage", file:"cage" ),
        VoxelModel( tag:"club", file:"club" ),
        VoxelModel( tag:"club_spiked", file:"club_spiked" ),
        VoxelModel( tag:"hammer", file:"hammer" ),
        VoxelModel( tag:"sword", file:"sword" ),
        VoxelModel( tag:"knife", file:"knife" ),
        VoxelModel( tag:"atlatl", file:"atlatl" ),
        VoxelModel( tag:"bow", file:"bow" ),
        VoxelModel( tag:"arrow", file:"arrow" ),
        VoxelModel( tag:"crossbow", file:"crossbow" ),

        VoxelModel( tag:"corpse", file:"corpse" ),

        VoxelModel( tag:"pick_held", file:"simplepick_held" ),
        VoxelModel( tag:"axe_held", file:"simpleaxe_held" ),
        VoxelModel( tag:"hoe_held", file:"hoe_held" ),

        VoxelModel( tag:"dung_heap", file:"dung_heap" ),
        VoxelModel( tag:"seed", file:"seed" ),
        VoxelModel( tag:"raised_flower_bed", file:"raised_flower_bed" ),
        VoxelModel( tag:"wall", file:"wall" ),
        VoxelModel( tag:"floor", file:"floor" ),
        VoxelModel( tag:"ramp", file:"ramp" ),
        VoxelModel( tag:"carpenter_intermediate", file:"carpenter_intermediate" ),
        VoxelModel( tag:"nitrogen_extractor", file:"nitrogen_extractor" ),
        VoxelModel( tag:"leatherworker", file:"leatherworker" ),
        VoxelModel( tag:"refinery", file:"refinery" ),

        VoxelModel( tag:"lever_on", file:"lever-on" ),
        VoxelModel( tag:"lever_off", file:"lever-off" ),
        VoxelModel( tag:"pressure_plate", file:"pressureplate" ),
        VoxelModel( tag:"energy_door_open", file:"energydoor-open" ),
        VoxelModel( tag:"energy_door_closed", file:"energydoor-closed" ),
        VoxelModel( tag:"spikes_retracted", file:"spikes-retracted" ),
        VoxelModel( tag:"spikes_extended", file:"spikes-extended" ),
        VoxelModel( tag:"blades_retracted", file:"blades-retracted" ),
        VoxelModel( tag:"blades_extended", file:"blades-extended" ),
        VoxelModel( tag:"stonefall", file:"stonefall" ),
        VoxelModel( tag:"door_open", file:"door_open" ),
        VoxelModel( tag:"floodgate_open", file:"floodgate_open" ),
        VoxelModel( tag:"floodgate_closed", file:"floodgate_closed" ),
        VoxelModel( tag:"floodgate_ground", file:"floodgate_ground" ),
        VoxelModel( tag:"float_gauge", file:"float_gauge" ),
        VoxelModel( tag:"proximity_sensor", file:"proximity_sensor" ),
        VoxelModel( tag:"oscillator", file:"oscillator" ),
        VoxelModel( tag:"gate_and", file:"gate_and" ),
        VoxelModel( tag:"gate_or", file:"gate_or" ),
        VoxelModel( tag:"gate_not", file:"gate_not" ),
        VoxelModel( tag:"silicon_refinery", file:"silicon_refinery" ),
        VoxelModel( tag:"gate_nand", file:"gate_nand" ),
        VoxelModel( tag:"gate_nor", file:"gate_nor" ),
        VoxelModel( tag:"gate_xor", file:"gate_xor" ),
        VoxelModel( tag:"support", file:"support" ),

        VoxelModel( tag:"rampnew", file:"rampnew" ),
    ])
)