(
    items: [
        ItemDef(
            tag: "wood_log",
            name: "Log",
            item_type: [ Component ],
            vox: "wood_logs",
            description: "Uncut wood from a felled tree."
        )
    ]
)