(
    professions: [
        ProfessionDef(
            tag: "insurance_adjuster", name: "Insurance Adjuster",
            modifiers: ProfModifiers( int: Some(2), cha: Some(-1) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "feng_shui_consultant", name: "Feng Shui Consultant",
            modifiers: ProfModifiers( wis: Some(1), cha: Some(1), str: Some(-1) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "bathrobe", loc: Torso), ProfCloth(tag: "hawaiian_shorts", loc: Legs), ProfCloth(tag: "sandals", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "comic_book_collector", name: "Comic Book Collector",
            modifiers: ProfModifiers( str: Some(-1), con: Some(-1), int: Some(2) ),
            clothing: (
                male: [ ProfCloth(tag: "batman_hat", loc: Head), ProfCloth(tag: "spandex_shirt", loc: Torso), ProfCloth(tag: "spandex_pants", loc: Legs), ProfCloth(tag:"combat_boots", loc: Shoes) ],
                female: [ ProfCloth(tag: "tiara", loc: Head), ProfCloth(tag: "spandex_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs), ProfCloth(tag:"high_boots", loc: Shoes) ],
                both: []
            )
        ),

        ProfessionDef(
            tag: "fantasy_football_expert", name: "Fantasy Football Expert",
            modifiers: ProfModifiers( int: Some(1), dex: Some(-1) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "blogger", name: "Blogger",
            modifiers: ProfModifiers( int: Some(2), con: Some(-2) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "t_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "shill", name: "Paid Internet Shill",
            modifiers: ProfModifiers( cha: Some(2), con: Some(-2) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "t_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "cheerleader", name: "Cheerleader",
            modifiers: ProfModifiers( cha: Some(2), int: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "spandex_shirt", loc: Torso), ProfCloth(tag: "spandex_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "tiara", loc: Head), ProfCloth(tag: "spandex_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs) ],
                both: [ ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "sports_commentator", name: "Sports Commentator",
            modifiers: ProfModifiers( cha: Some(2), wis: Some(-2) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "synergy_consultant", name: "Synergy Consultant",
            modifiers: ProfModifiers( cha: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "used_car_dealer", name: "Used Car Dealer",
            modifiers: ProfModifiers( cha: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "middle_manager", name: "Corporate Middle Manager",
            modifiers: ProfModifiers( int: Some(1), cha: Some(-1) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "private_security", name: "Private Security guard",
            modifiers: ProfModifiers( str: Some(1), con: Some(1), int: Some(-1), wis: Some(-1) ),
            clothing: (
                male: [ ],
                female: [ ],
                both: [ ProfCloth(tag: "combat_boots", loc: Shoes), ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs), ProfCloth(tag: "police_hat", loc: Head) ]
            )
        ),

        ProfessionDef(
            tag: "nutritionist", name: "Nutritionist",
            modifiers: ProfModifiers( con: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "pet_psychic", name: "Pet Psychic",
            modifiers: ProfModifiers( cha: Some(1), wis: Some(-1) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "bathrobe", loc: Torso), ProfCloth(tag: "hawaiian_shorts", loc: Legs), ProfCloth(tag: "sandals", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "internet_psychic", name: "Internet Psychic",
            modifiers: ProfModifiers( cha: Some(1), wis: Some(-1) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "bathrobe", loc: Torso), ProfCloth(tag: "hawaiian_shorts", loc: Legs), ProfCloth(tag: "sandals", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "telephone_sanitizer", name: "Telephone Sanitizer",
            modifiers: ProfModifiers( con: Some(1), int: Some(-1) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "life_coach", name: "Life Coach",
            modifiers: ProfModifiers( cha: Some(1), int: Some(1), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "futurist", name: "Futurist",
            modifiers: ProfModifiers( int: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "personal_trainer", name: "Personal Trainer",
            modifiers: ProfModifiers( str: Some(1), dex: Some(1), con: Some(2), int: Some(-2), wis: Some(-2) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "atmosphere_coordinator", name: "Atmosphere Coordinator",
            modifiers: ProfModifiers( cha: Some(2), int: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "spandex_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs) ],
                both: [ ProfCloth(tag: "high_boots", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "medium", name: "Medium",
            modifiers: ProfModifiers( cha: Some(2), int: Some(-2) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "bathrobe", loc: Torso), ProfCloth(tag: "hawaiian_shorts", loc: Legs), ProfCloth(tag: "sandals", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "sign_spinner", name: "Sign Spinner",
            modifiers: ProfModifiers( str: Some(1), dex: Some(1), con: Some(2), int: Some(-2), wis: Some(-2) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "stock_market_pundit", name: "Stock Market Pundit",
            modifiers: ProfModifiers( int: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "commodities_trader", name: "Commodities Trader",
            modifiers: ProfModifiers( int: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "art_critic", name: "Art Critic",
            modifiers: ProfModifiers( int: Some(-2), cha: Some(2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "weather_forecaster", name: "Weather Forecaster",
            modifiers: ProfModifiers( cha: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "dj", name: "Disk Jockey",
            modifiers: ProfModifiers( cha: Some(2), wis: Some(-2) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "socialite", name: "Socialite",
            modifiers: ProfModifiers( cha: Some(2), int: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs) ],
                both: [ ProfCloth(tag: "high_boots", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "bathroom_attendant", name: "Bathroom Attendant",
            modifiers: ProfModifiers( str: Some(1), con: Some(1), int: Some(-1), wis: Some(-1) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "sasquatch_hunter", name: "Sasquatch Hunter",
            modifiers: ProfModifiers( str: Some(1), con: Some(1), int: Some(-1), wis: Some(-1) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "ranch_dressing_expert", name: "Ranch Dressing Expert",
            modifiers: ProfModifiers( con: Some(1), cha: Some(1), int: Some(-1), wis: Some(-1) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "sports_shirt", loc: Torso), ProfCloth(tag: "sports_shorts", loc: Legs), ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "exorcist", name: "Exorcist",
            modifiers: ProfModifiers( cha: Some(2), int: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs) ],
                both: [ ProfCloth(tag: "high_boots", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "feline_consultant", name: "Feline Behavior Consultant",
            modifiers: ProfModifiers( dex: Some(2), cha: Some(2), int: Some(-2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "spandex_shirt", loc: Torso), ProfCloth(tag: "spandex_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "spandex_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs) ],
                both: [ ProfCloth(tag: "sneakers", loc: Shoes), ProfCloth(tag: "cat_ears", loc: Head) ]
            )
        ),

        ProfessionDef(
            tag: "ancient_alien_expert", name: "Ancient Alien Expert",
            modifiers: ProfModifiers( cha: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "pro_gamer", name: "Professional Video Gamer",
            modifiers: ProfModifiers( cha: Some(-2), int: Some(2) ),
            clothing: (
                male: [],
                female: [],
                both: [ ProfCloth(tag: "bathrobe", loc: Torso), ProfCloth(tag: "hawaiian_shorts", loc: Legs), ProfCloth(tag: "sandals", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "poker_star", name: "Poker Star",
            modifiers: ProfModifiers( cha: Some(2), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "lottery_winner", name: "Lottery Winner",
            modifiers: ProfModifiers( cha: Some(1), wis: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "t_shirt", loc: Torso), ProfCloth(tag: "hawaiian_shorts", loc: Legs) ],
                female: [ ProfCloth(tag: "spandex_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs) ],
                both: [ ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "personal_injury_lawyer", name: "Personal Injury Lawyer",
            modifiers: ProfModifiers( int: Some(3), cha: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "long_skirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "tech_evangelist", name: "Technical Evangalist",
            modifiers: ProfModifiers( int: Some(3), cha: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs) ],
                both: [ ProfCloth(tag: "leather_shoes", loc: Shoes) ]
            )
        ),

        ProfessionDef(
            tag: "market_strategist", name: "Marketing Strategist",
            modifiers: ProfModifiers( int: Some(3), cha: Some(-2) ),
            clothing: (
                male: [ ProfCloth(tag: "formal_shirt", loc: Torso), ProfCloth(tag: "cargo_pants", loc: Legs) ],
                female: [ ProfCloth(tag: "formal_blouse", loc: Torso), ProfCloth(tag: "miniskirt", loc: Legs) ],
                both: [ ProfCloth(tag: "sneakers", loc: Shoes) ]
            )
        ),
    ]
)