(
    items: Some([

        ItemDef(
            tag:"fire_axe",
            name: "Fire Axe",
            description: "A simple axe. It has the word FIRE burned into it.",
            item_type: [ ToolChopping ],
            vox: "axe"
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"axe", file:"simpleaxe" ),
    ])
)