(
    items: Some([
        ItemDef(
            tag: "block",
            name: "Block",
            item_type: [ Component ],
            vox: "block",
            description: "A conveniently cut building block.",
            build_rules: Some([InheritMaterialName, InheritMaterialTint]),
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"block", file:"block" ),
    ])
)