(
    items: Some([
        ItemDef(
            tag: "ore",
            name: "Ore",
            item_type: [ Component ],
            vox: "ore",
            description: "A lump of unrefined metal.",
            build_rules: Some([InheritMaterialName, InheritMaterialTint]),
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"ore", file:"ore" ),
    ])
)