(
    items: Some([
        ItemDef(
            tag: "stone_boulder",
            name: "Boulder",
            item_type: [ Component ],
            vox: "stone_boulder",
            description: "A chunk of rock."
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"stone_boulder", file:"boulder" ),
    ])
)