(
    buildings: Some([
        BuildingDef(
            tag : "personal_survival_shelter",
            name : "Tent",
            components : [ BuildingComponent(item: "personal_survival_shelter_kit", qty: 1) ],
            skill : [ BuildingSkill(skill: "Construction", difficulty: 5) ],
            vox : "tent",
            description : "A tent, conveniently packaged in a crate. It is self-assembling.",
            provides : [ ]
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"tent", file:"tent" ),
    ])
)
