(
    buildings: Some([
        BuildingDef(
            tag : "ship_defense_turret",
            name : "Ship Defense Turret",
            components : [ BuildingComponent(item: "ship_turret_kit", qty: 1) ],
            skill : [ BuildingSkill(skill: "Construction", difficulty: 25) ],
            vox : "ship_defense_turret",
            description : "An automated ship defense turret, designed to deter critters and blackguards from entering the ship without permission. It has an angry personality.",
            provides : [ ]
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"ship_defense_turret", file:"turret" ),
    ])
)