(
    buildings: Some([
        BuildingDef(
            tag : "small_replicator",
            name : "Small replicator",
            components : [ BuildingComponent(item: "replicator_unit", qty: 1) ],
            skill : [ BuildingSkill(skill: "Construction", difficulty: 15) ],
            vox : "small_replicator",
            description : "A portable device that can convert energy into matter, according to pre-programmed recipes. This model is designed for field-trips and can make tea and sandwiches.",
            provides : [ ]
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"small_replicator", file:"replicator_small" ),
    ])
)