(
    buildings: Some([
        BuildingDef(
            tag : "stonecutter",
            name : "Stonecutter",
            components : [ BuildingComponent(item: "stone_boulder", qty: 1) ],
            skill : [ BuildingSkill(skill: "Construction", difficulty: 12) ],
            vox : "stonecutter",
            description : "A workshop designed to turn stone into usable blocks. Basically a guy with a hammer and chisel.",
            provides : [ ]
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"stonecutter", file:"stonecutter" ),
    ]),

    reactions: Some([
        ReactionDef(
            name: "Cut Boulders into Blocks",
            workshop: "stonecutter",
            difficulty: 10,
            automatic: true,
            skill: "Masonry",
            inputs: [ ReactionItem(tag: "stone_bolder", qty: 1) ],
            outputs: [ ReactionItem(tag: "block", qty: 4 ) ]
        )
    ])
)