(
    buildings: Some([
        BuildingDef(
            tag : "battery",
            name : "Battery Bank",
            components : [ BuildingComponent(item: "battery_kit", qty: 1) ],
            skill : [ BuildingSkill(skill: "Construction", difficulty: 15) ],
            vox : "battery",
            description : "An array of large batteries, used for storing power.",
            provides : [ EnergyStorage(energy: 20) ]
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"battery", file:"battery" ),
    ])
)