(
    buildings: Some([
        BuildingDef(
            tag : "rtg",
            name : "Small Nuclear Power Generator",
            components : [ BuildingComponent(item: "refined_plutonium", qty: 1) ],
            skill : [ BuildingSkill(skill: "Construction", difficulty: 15) ],
            vox : "rtg",
            description : "An array of large batteries, used for storing power.",
            provides : [ EnergyStorage(energy: 10), Generator(energy: 10), Light(radius: 10, color: (0.2, 1.0, 0.2)) ]
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"rtg", file:"rtg" ),
    ])
)
