(
    materials: Some([
        MaterialDef(
            name: "Alunite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A hydrated aluminium potassium sulfate rock.",
            tint: (0.5, 0.5, 0.5)
        ),

        MaterialDef(
            name: "Andesite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A common, extrusive igneous stone.",
            tint: (0.4, 0.4, 0.4)
        ),

        MaterialDef(
            name: "Basalt",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A common, extrusive igneous stone.",
            tint: (0.6, 0.6, 0.6)
        ),

        MaterialDef(
            name: "Brimstone",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "sulpher") ],
            description: "A smelly, sulphorous rock.",
            tint: (0.1, 1.0, 1.0)
        ),

        MaterialDef(
            name: "Cinnabar",
            layer: Igneous,
            hit_points: 115,
            mines_to: [ Ore(name: "mercury") ],
            description: "A red, crystalline rock.",
            tint: (1.0, 0.2, 0.2)
        ),

        MaterialDef(
            name: "Diorite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A hard rock containing lots of quartz.",
            tint: (0.5, 0.5, 0.5)
        ),

        MaterialDef(
            name: "Gabbro",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock, sometimes containing Olivine.",
            tint: (0.3, 0.7, 0.3)
        ),

        MaterialDef(
            name: "Gneiss",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock, also the subject of numerous puns amongst geologists.",
            tint: (0.3, 0.3, 0.3)
        ),

        MaterialDef(
            name: "Granite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock with lots of quartz.",
            tint: (0.3, 0.3, 0.3)
        ),

        MaterialDef(
            name: "Graphite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A cyrstalline black rock that generally ends up in pencils.",
            tint: (0.1, 0.1, 0.1)
        ),

        MaterialDef(
            name: "Hornblende",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A mixture of minerals clumped together.",
            tint: (0.1, 0.1, 0.1)
        ),

        MaterialDef(
            name: "Malachite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Ore(name: "copper") ],
            description: "A green rock, frequently found in stalagtites.",
            tint: (0.3, 0.9, 0.3)
        ),

        MaterialDef(
            name: "Microcline",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A hard rock with a pleasant blue color.",
            tint: (0.1, 1.0, 1.0)
        ),

        MaterialDef(
            name: "Obsidian",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A sedimentary rock formed largely from just about everything else.",
            tint: (0.05, 0.05, 0.05)
        ),

        MaterialDef(
            name: "Olivine",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A green crystalline rock.",
            tint: (0.1, 0.9, 0.1)
        ),

        MaterialDef(
            name: "Orpiment",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder"), Item(name: "sulpher") ],
            description: "An igneous rock, yellow from sulphur.",
            tint: (1.0, 1.0, 0.1)
        ),

        MaterialDef(
            name: "Orthoclase",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock with lots of quartz",
            tint: (0.6, 0.6, 0.6)
        ),

        MaterialDef(
            name: "Phylite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock with lots of quartz",
            tint: (0.6, 0.6, 0.6)
        ),

        MaterialDef(
            name: "Pitchblende",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Ore(name: "uranium") ],
            description: "A green rock containing Uranium. People used to grind this up for paint.",
            tint: (0.7, 0.3, 0.3)
        ),

        MaterialDef(
            name: "Pyrolusite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock with lots of quartz",
            tint: (0.6, 0.6, 0.6)
        ),

        MaterialDef(
            name: "Quartzite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock with lots of quartz",
            tint: (0.6, 0.6, 0.6)
        ),

        MaterialDef(
            name: "Realgar",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock with lots of quartz",
            tint: (0.6, 0.6, 0.6)
        ),

        MaterialDef(
            name: "Rhyolite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A dense rock with lots of quartz",
            tint: (0.6, 0.6, 0.6)
        ),

        MaterialDef(
            name: "Rutile",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Ore(name: "uranium"), Ore(name: "titanium") ],
            description: "A hard, black rock made from titantium oxide.",
            tint: (0.08, 0.08, 0.08)
        ),

        MaterialDef(
            name: "Serpentine",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Item(name: "stone_boulder") ],
            description: "A green crystalline rock.",
            tint: (0.2, 0.7, 0.2)
        ),

        MaterialDef(
            name: "Stibnite",
            layer: Igneous,
            hit_points: 100,
            mines_to: [ Ore(name: "uranium"), Ore(name: "titanium") ],
            description: "A crystalline rock.",
            tint: (0.5, 0.5, 0.5)
        ),
    ])
)