(
    materials: Some([
        MaterialDef(
            name: "Sand",
            layer: Sand,
            hit_points: 10,
            mines_to: [ Item(name: "topsoil") ],
            description: "Coarse yellow sand.",
            tint: (0.76, 0.69, 0.5)
        ),

        MaterialDef(
            name: "Black Sand",
            layer: Sand,
            hit_points: 10,
            mines_to: [ Item(name: "topsoil") ],
            description: "Coarse dark sand.",
            tint: (0.5, 0.5, 0.5)
        ),

        MaterialDef(
            name: "Red Sand",
            layer: Sand,
            hit_points: 10,
            mines_to: [ Item(name: "topsoil") ],
            description: "Coarse red sand.",
            tint: (0.81, 0.5, 0.3)
        ),

        MaterialDef(
            name: "White Sand",
            layer: Sand,
            hit_points: 10,
            mines_to: [ Item(name: "topsoil") ],
            description: "Coarse white sand.",
            tint: (0.81, 0.81, 0.8)
        ),

        MaterialDef(
            name: "Yellow Sand",
            layer: Sand,
            hit_points: 10,
            mines_to: [ Item(name: "topsoil") ],
            description: "Coarse yellow sand.",
            tint: (0.98, 0.75, 0.6)
        ),
    ])
)