(
    biomes: Some([
        // Ocean Areas
        BiomeType(
            name: "Frozen Ocean",
            min_temp: -100,
            max_temp: -5,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs:[ Water ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Arctic", "Polar", "Frozen Sea" ],
            color: [0.8, 0.8, 0.9, 1.0]
        ),

        BiomeType(
            name: "Icy Ocean",
            min_temp: -10,
            max_temp: 10,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Water],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Arctic", "Ice Sea", "Sea of Razors", "Iceberg" ],
            color: [0.7, 0.7, 0.9, 1.0]
        ),

        BiomeType(
            name: "Ocean",
            min_temp: 0,
            max_temp: 30,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Water],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Sea", "Ocean", "Drink", "High Sea" ],
            color: [0.0, 0.0, 1.0, 1.0]
        ),

        BiomeType(
            name: "Tropical Ocean", 
            min_temp: 30, 
            max_temp:100,
            min_rain:0,
            max_rain :100,
            min_mutation:0,
            max_mutation :100,
            occurs: [Water],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Tropical Sea", "Equatorial Sea", "Warm Ocean" ],
            color: [0.0, 0.0, 1.0, 1.0]
        ),

        // Coastal Zones
        BiomeType(
            name: "Arctic Coast", 
            min_temp: -100, 
            max_temp: -5, 
            min_rain: 0, 
            max_rain: 100, 
            min_mutation: 0, 
            max_mutation: 100,
            occurs: [Coastal],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns : ["Ice Cliffs", "Ice Shelf", "Glacier", "Needles" ],
            color: [0.8, 0.8, 0.9, 1.0]
        ),

        BiomeType(
            name: "Cold Coast", 
            min_temp: -5, 
            max_temp: 5, 
            min_rain: 0, 
            max_rain: 100, 
            min_mutation: 0, 
            max_mutation: 100,
            occurs: [Coastal],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Coast", "Seashore", "Littoral" ],
            color: [0.7, 0.7, 0.9, 1.0]
        ),

        BiomeType(
            name: "Temperate Coast", 
            min_temp: 5,
            max_temp: 25,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Coastal],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 5), (tree: "E", freq: 2) ],
            nouns: ["Coast", "Cliffs", "Seashore", "Littoral", "Seaside"],
            color: [0.7, 0.7, 0.0, 1.0]
        ),

        BiomeType(
            name: "Tropical Coast", 
            min_temp: 25, 
            max_temp: 55, 
            min_rain: 0, 
            max_rain: 100, 
            min_mutation: 0, 
            max_mutation: 100,
            occurs: [Coastal],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 10), (tree: "E", freq: 0) ],
            nouns: [ "Coast", "Cliffs", "Seashore", "Seaside", "Resort", "Littoral", "Bay" ],
            color: [1.0, 1.0, 0.0, 1.0]
        ),

        // Salt Marsh Zones
        BiomeType(
            name: "Arctic Salt",
            min_temp: -100,
            max_temp: -5,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Coastal, SaltMarsh ],
            soils: SoilTypes( soil: 70, sand: 30 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 5) ],
            nouns: [ "Arctic", "Tundra", "Devil's Icebox" ],
            color: [0.8, 0.8, 0.9, 1.0]
        ),

        BiomeType(
            name: "Cold Salt",
            min_temp: -5,
            max_temp: 5,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0, max_mutation: 100,
            occurs: [Coastal, SaltMarsh ],
            soils: SoilTypes( soil: 70, sand: 30 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 10) ],
            nouns: [ "Tundra", "Cold Desert" ],
            color: [0.7, 0.7, 0.8, 1.0]
        ),

        BiomeType(
            name: "Temperate Salt",
            min_temp: 5,
            max_temp: 25,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Coastal, SaltMarsh ],
            soils: SoilTypes( soil: 70, sand: 30 ),
            trees: [ (tree: "D", freq: 15), (tree: "E", freq: 1) ],
            nouns: [ "Salty Badlands", "Waste", "Flats", "Scar" ],
            color: [0.0, 0.9, 0.5, 1.0]
        ),

        BiomeType(
            name: "Tropical Salt",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Coastal, SaltMarsh ],
            trees: [ (tree: "D", freq: 15), (tree: "E", freq: 1) ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            nouns: [ "Badlands", "Waste", "Flats", "Alkali Flat" ],
            color: [0.0, 1.0, 0.6, 1.0]
        ),

        // Flatlands
        BiomeType(
            name: "Permafrost Plain",
            min_temp: -100,
            max_temp: 3,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Plains, Coastal, Marsh],
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            nouns: [ "Permafrost", "Tundra", "Frozen Plain" ],
            color: [0.8, 0.8, 0.8, 1.0]
        ),

        BiomeType(
            name: "Rocky Plain",
            min_temp: -5,
            max_temp: 5,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Plains, Coastal, Marsh],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Plain", "Scarp", "Scree", "Boulderland" ],
            color: [0.2, 0.5, 0.2, 1.0]
        ),

        BiomeType(
            name: "Grass Plain",
            min_temp: 0,
            max_temp: 25,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Plains, Coastal, Marsh],
            soils: SoilTypes( soil: 75, sand: 25 ),
            trees: [ (tree: "D", freq: 20), (tree: "E", freq: 3) ],
            nouns: [ "Grasslands", "Plain", "Prairie", "Heath", "Level" ],
            color: [0.0, 1.0, 0.0, 1.0]
        ),

        BiomeType(
            name: "Savannah Plain",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [Plains, Coastal, Marsh],
            soils: SoilTypes( soil: 25, sand: 75 ),
            trees: [ (tree: "D", freq: 20), (tree: "E", freq: 3) ],
            nouns: [ "Savannah", "Grassland", "Heath", "Scrub", "Level" ],
            color: [0.45, 0.6, 0.42, 1.0]
        ),

        // Hills
        BiomeType(
            name: "Permafrost Hills",
            min_temp: -100,
            max_temp: 3,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Hills, Highlands ],
            soils: SoilTypes( soil: 80, sand: 20 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Ice Hill", "Hill", "Mound", "Roughs" ],
            color: [0.9, 0.9, 0.9, 1.0]
        ),

        BiomeType(
            name: "Rocky Hills",
            min_temp: -5,
            max_temp: 5,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Hills, Highlands ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Rocky Hills", "Hill", "Mound", "Bump", "Scree", "Scar" ],
            color: [0.36, 0.26, 0.12, 1.0]
        ),

        BiomeType(
            name: "Grass Hills",
            min_temp: 0,
            max_temp: 25,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Hills, Highlands ],
            soils: SoilTypes( soil: 75, sand: 25 ),
            trees: [ (tree: "D", freq: 5), (tree: "E", freq: 3) ],
            nouns: [ "Rolling Hill", "Hill", "Rolling Heath", "Moor" ],
            color: [0.1, 0.6, 0.05, 1.0]
        ),

        BiomeType(
            name: "Savannah Hills",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Hills, Highlands ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 10), (tree: "E", freq: 0) ],
            nouns: [ "Savannah Hills", "Hill", "Rolling Savannah", "Savannah Moor" ],
            color: [0.45, 0.6, 0.42, 1.0]
        ),

        // Plateau
        BiomeType(
            name: "Permafrost Plateau",
            min_temp: -100,
            max_temp: 3,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plateau ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Glacier", "Plateau", "Ice Plain", "Steppe" ],
            color: [0.7, 0.8, 0.7, 1.0]
        ),

        BiomeType(
            name: "Rocky Plateau",
            min_temp: -5,
            max_temp: 5,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plateau ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 3) ],
            nouns: [ "Tableland", "Tablerock", "Plateau", "Rocky Plateau" ],
            color: [0.5, 0.6, 0.5, 1.0]
        ),

        BiomeType(
            name: "Grass Plateau",
            min_temp: 0,
            max_temp: 25,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plateau ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 20), (tree: "E", freq: 5) ],
            nouns: [ "Hog's Back", "Plateau", "Table", "Fell", "Downs" ],
            color: [0.0, 0.9, 0.0, 1.0]
        ),

        BiomeType(
            name: "Savannah Plateau",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plateau ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 25), (tree: "E", freq: 0) ],
            nouns: [ "Upland", "Table", "Plateau" ],
            color: [0.45, 0.6, 0.42, 1.0]
        ),

        BiomeType(
            name: "Badland Plateau",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 20,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plateau ],
            soils: SoilTypes( soil: 5, sand: 90 ),
            trees: [ (tree: "D", freq: 1), (tree: "E", freq: 0) ],
            nouns: [ "Devil's Table", "Badland Plateau" ],
            color: [0.4, 0.0, 0.0, 1.0]
        ),

        // Highlands
        BiomeType(
            name: "Permafrost Highlands",
            min_temp: -100,
            max_temp: 3,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Highlands ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "High Waste", "High Tundra", "Hillock", "Promontary" ],
            color: [1.0, 1.0, 1.0, 1.0]
        ),

        BiomeType(
            name: "Rocky Highlands",
            min_temp: -5,
            max_temp: 5,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Highlands ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 5) ],
            nouns: [ "Waste", "Scree", "Fell", "Promontary", "Dales", "Pike" ],
            color: [0.8, 0.9, 0.8, 1.0]
        ),

        BiomeType(
            name: "Grass Highlands",
            min_temp: 0,
            max_temp: 25,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Highlands ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 10), (tree: "E", freq: 3) ],
            nouns: [ "Moor", "Heath", "Uplands", "Dales", "Scar" ],
            color: [0.0, 1.0, 0.0, 1.0]
        ),

        BiomeType(
            name: "Savannah Highlands",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Highlands ],
            soils: SoilTypes( soil: 25, sand: 75 ),
            trees: [ (tree: "D", freq: 20), (tree: "E", freq: 1) ],
            nouns: [ "Savannah Hills", "Highlands", "Uplands", "Peaks", "Mounds" ],
            color: [0.45, 0.6, 0.42, 1.0]
        ),

        BiomeType(
            name: "Badland Highlands",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 20,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Highlands ],
            soils: SoilTypes( soil: 10, sand: 90 ),
            trees: [ (tree: "D", freq: 1), (tree: "E", freq: 0) ],
            nouns: [ "Scree", "Heights" ],
            color: [0.5, 0.0, 0.0, 1.0]
        ),

        // Mountains
        BiomeType(
            name: "Permafrost Mountains",
            min_temp: -100,
            max_temp: 3,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Mountains ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Mountains", "Peaks", "Pikes", "Alps" ],
            color: [1.0, 1.0, 1.0, 1.0]
        ),

        BiomeType(
            name: "Rocky Mountains",
            min_temp: -5,
            max_temp: 5,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Mountains ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Mountains", "Peaks", "Pikes", "Alps" ],
            color: [0.9, 1.0, 0.9, 1.0]
        ),

        BiomeType(
            name: "Grass Mountains",
            min_temp: 0,
            max_temp: 25,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Mountains ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 5) ],
            nouns: [ "Mountains", "Peaks", "Pikes", "Alps" ],
            color: [0.4, 1.0, 0.4, 1.0]
        ),

        BiomeType(
            name: "Savannah Mountains",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Mountains ],
            soils: SoilTypes( soil: 25, sand: 75 ),
            trees: [ (tree: "D", freq: 3), (tree: "E", freq: 0) ],
            nouns: [ "Mountains", "Peaks", "Pikes", "Alps" ],
            color: [0.45, 0.6, 0.42, 1.0]
        ),

        BiomeType(
            name: "Badlands",
            min_temp: 25,
            max_temp: 55,
            min_rain: 0,
            max_rain: 20,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Mountains ],
            soils: SoilTypes( soil: 10, sand: 90 ),
            trees: [ (tree: "D", freq: 1), (tree: "E", freq: 0) ],
            nouns: [ "Mountains", "Peaks", "Pikes", "Alps" ],
            color: [0.5, 0.0, 0.0, 1.0]
        ),

        // Desert Regions
        BiomeType(
            name: "Tundra",
            min_temp: -100,
            max_temp: 3,
            min_rain: 0,
            max_rain: 10,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plains, Hills, Highlands, Plateau, Coastal ],
            soils: SoilTypes( soil: 50, sand: 50 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Tundra", "Waste", "Ice Waste" ],
            color: [1.0, 1.0, 1.0, 1.0]
        ),

        BiomeType(
            name: "Cold Desert",
            min_temp: 1,
            max_temp: 10,
            min_rain: 0,
            max_rain: 10,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plains, Hills, Highlands, Plateau, Coastal ],
            soils: SoilTypes( soil: 15, sand: 86 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 1) ],
            nouns: [ "Semi-Tundra", "Expanse", "Steppe" ],
            color: [0.9, 0.9, 0.9, 1.0]
        ),

        BiomeType(
            name: "Sand Desert",
            min_temp: 9,
            max_temp: 100,
            min_rain: 0,
            max_rain: 10,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plains, Hills, Highlands, Plateau, Coastal ],
            soils: SoilTypes( soil: 5, sand: 95 ),
            trees: [ (tree: "D", freq: 1), (tree: "E", freq: 0) ],
            nouns: [ "Desert", "Waste", "Wild", "Dunes", "Barren" ],
            color: [1.0, 1.0, 0.0, 1.0]
        ),

        BiomeType(
            name: "Rocky Desert",
            min_temp: 9,
            max_temp: 100,
            min_rain: 0,
            max_rain: 10,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plains, Hills, Highlands, Plateau, Coastal ],
            soils: SoilTypes( soil: 5, sand: 95 ),
            trees: [ (tree: "D", freq: 1), (tree: "E", freq: 0) ],
            nouns: [ "Barrens", "Platter" ],
            color: [0.4, 0.4, 0.4, 1.0]
        ),

        // High Precipitation Areas
        BiomeType(
            name: "Deciduous Broadleaf",
            min_temp: 5,
            max_temp: 34,
            min_rain: 15,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plains, Hills, Highlands, Plateau, Coastal ],
            soils: SoilTypes( soil: 80, sand: 20 ),
            trees: [ (tree: "D", freq: 100), (tree: "E", freq: 0) ],
            nouns: [ "Forest", "Backwoods", "Old Forest", "Grove", "Timberland", "Chase" ],
            color: [0.0, 0.5, 0.0, 1.0]
        ),

        BiomeType(
            name: "Deciduous Needleleaf",
            min_temp: 5,
            max_temp: 34,
            min_rain: 15,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Highlands, Hills, Plateau ],
            soils: SoilTypes( soil: 80, sand: 20 ),
            trees: [ (tree: "D", freq: 95), (tree: "E", freq: 5) ],
            nouns: [ "Forest", "Woods", "Old WOods", "Grove", "Chase", "Weald" ],
            color: [0.0, 0.0, 0.0, 1.0]
        ),

        BiomeType(
            name: "Evergreen Broadleaf",
            min_temp: -5,
            max_temp: 20,
            min_rain: 15,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Highlands, Hills, Plateau ],
            soils: SoilTypes( soil: 80, sand: 20 ),
            trees: [ (tree: "D", freq: 0), (tree: "E", freq: 100) ],
            nouns: [ "Forest", "Coppice", "Chase", "Weald", "Pines" ],
            color: [0.0, 0.5, 0.0, 1.0]
        ),

        BiomeType(
            name: "Rainforest",
            min_temp: 20,
            max_temp: 34,
            min_rain: 25,
            max_rain: 100,
            min_mutation: 0,
            max_mutation: 100,
            occurs: [ Plains, Hills, Highlands, Plateau, Coastal ],
            soils: SoilTypes( soil: 80, sand: 20 ),
            trees: [ (tree: "D", freq: 200), (tree: "E", freq: 0) ],
            nouns: [ "Jungle", "Morass", "Tangle" ],
            color: [0.0, 0.7, 0.0, 1.0]
        )
    ])
)
