(
    items: Some([

        ItemDef(
            tag:"hoe",
            name: "Hoe",
            description: "A garden hoe, used for clearing soil ready for planting.",
            item_type: [ ToolFarming ],
            vox: "hoe"
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"hoe", file:"hoe" ),
    ])
)