(
    items: Some([

        ItemDef(
            tag:"pickaxe",
            name: "Pickaxe",
            description: "A simple pickaxe, ideal for digging holes.",
            item_type: [ ToolDigging ],
            vox: "pick"
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"pick", file:"simplepick" ),
    ])
)