(
    buildings: Some([
        BuildingDef(
            tag : "cryo_bed",
            name : "Cryogenic Bed",
            components : [ BuildingComponent(item: "cryo_bed_kit", qty: 1) ],
            skill : [ BuildingSkill(skill: "Construction", difficulty: 10) ],
            vox : "cryo_bed",
            description : "An uncomfortable cryogenic bed, designed for long trips through the stars. It can double as a regular bed if you don't want to freeze anyone.",
            provides : [ Sleep ]
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"cryo_bed", file:"cryobed32" ),
    ])
)
