(
    items: Some([
        ItemDef(
            tag: "charcoal",
            name: "Charcoal",
            item_type: [ Component ],
            vox: "charcoal",
            description: "Wood, coal, or other carbon-rich material processed to burn at high temperature."
        ),
    ]),

    vox: Some([
        VoxelModel( tag:"charcoal", file:"charcoal" ),
    ])
)