(
    materials: Some([
        MaterialDef(
            name: "Wood",
            layer: Synthetic,
            hit_points: 20,
            mines_to: [ ],
            description: "Hard, fibrous material extracted from dead trees.",
            tint: (0.33, 0.30, 0.1)
        ),
    ])
)